* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

#banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.233), #009688), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-taxt {
    text-align: center;
    padding-top: 180px;
    color: #fff;
}

.banner-taxt h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-taxt p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 12px 0;
    display: inline-block;
    border: .5px solid #fff;
    width: 150px;
    position: relative;
    z-index: 1;
    transition: color .5s;
}

.banner-btn a span {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: .5s;
}

.banner-btn a:hover {
    color: #000;
}

.banner-btn a:hover span {
    width: 100%;
}

#sideNav {
    height: 100vh;
    width: 250px;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    background: #009688;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    top: 20px;
    background: #009688;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    border-radius: 3px;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

/* features */

#feature {
    padding: 80px 0;
}

.title-text {
    text-align: center;
    margin-bottom: 70px;
}

.title-text p {
    margin-bottom: 20px;
    color: #009688;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.title-text p::after {
    content: '';
    height: 35px;
    width: 50px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    background: linear-gradient(#009688, #b0f1eb);
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.feature {
    flex-basis: 50%;
}

.feature-img {
    flex-basis: 50%;
    margin: auto;
}

.feature-img img {
    width: 70%;
    border-radius: 20px;
}

.feature h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.fetures-dec {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.feature-icon {
    width: 70px;
    height: 50px;
    font-size: 30px;
    color: #009688;
    border-radius: 8px;
    line-height: 50px;
    border: 1px solid #009688;
}

.feature-text p {
    text-align: initial;
    padding: 0 20px;
}


/* service section */
#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    margin-bottom: 20px;
    position: relative;
    color: #fff;

}

.single-service img {
    width: 100%;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, .5), #009688);
    opacity: 0;
    transition: 1s;

}

.service-dec {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 10%;
    opacity: 0;
    transition: 1s;

}

.service-dec p {
    font-size: 14px;
}

hr {
    background: #fff;
    width: 60%;
    margin: 15px auto;
    height: 2px;
    border: 0;

}

.single-service:hover .overlay {
    opacity: 1;
}

.single-service:hover .service-dec {
    bottom: 40%;
    opacity: 1;
}



/* testimonial */


#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 10px 20px 3px #00968814;
    transition: .5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fa {
    margin-left: 10px;
    font-size: 20px;
    color: #27c0ff;
}

.user-info small {
    color: #009688;
}

.testimonial-col:hover {
    transform: translateY(-7px);
}


/* footer */


#footer {
    position: relative;
    width: 100%;
    padding: 100px 0 20px;
    background: #efefef;
}

.footer-img {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 370px;
    opacity: .1;

}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    margin-bottom: 20px;
    padding: 10px;
}

.footer-left .fa,
.footer-right .fa {
    margin: 10px;
    font-size: 20px;
    color: #009688;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.sociallinks {
    text-align: center;
}

.sociallinks p {
    margin-top: 20px;
    font-size: 14px;
}

.sociallinks .fa {
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}

.sociallinks .fa:hover {
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}

/* media quary */


@media screen and (max-width:770px) {
    .banner-taxt h1 {
        font-size: 44px;

    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
    }

    .title-text h1 {
        font-size: 35px;
    }

    .feature {
        flex-basis: 100%;
    }

    .feature-img {
        flex-basis: 100%;
    }

    .feature-img img {
        width: 100%;
        border-radius: 10px;
    }

    .single-service {
        flex-basis: 100%;
    }

    hr {
        margin: 5px auto;
    }

    .service-dec p {
        font-size: 12px;
        line-height: 15px;
    }

    .single-service:hover .service-dec {
        bottom: 25%;

    }

    .testimonial-col {
        flex-basis: 100%;
    }

    .footer-left,
    .footer-right {
        flex-basis: 100%;
    }

    .footer-img {
        top: 25%;
    }
}